.writing-board {
  

  .text-area {
    height: 100%;
    width: 100%;
    padding: 30px;


    /*Remove default styles*/
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
    font-family: inherit;
    resize: none;
  }
}

@media (max-width: 600px) {
  .writing-board {
    
    height: 100%;
  }
}