:root {
  --grey: #525252;
  --highlight: #1EAFC2;
  --bone: #DDDBCB;
  --cream: #F5F1E3;
}
* {
  box-sizing: border-box;
}

.ionicon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  contain: strict;
  fill: currentcolor;
  box-sizing: content-box !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cream);
  color: var(--grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
